@import url('http://fonts.cdnfonts.com/css/bastamanbold');
              
*{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar{
    background:linear-gradient(90deg,#9c8c51,#bcac71,#e9db9c);
}

#quemsomos,#parceiros,#servicos{
    background:linear-gradient(90deg,#9c8c51,#bcac71,#e9db9c);
}

.margin{
    padding-top: 10px;
    padding-bottom: 50px;
}

footer{
    background:linear-gradient(90deg,#9c8c51,#bcac71,#e9db9c);
}
